.preloader {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-left: 20px;
  position: relative;
  margin-left: 30px;
  top: -10px;

  border-radius: 50%;
  border: #fff;
  border-top: 2px solid #4b51ef;
  animation: preloader 1s ease-in-out infinite;
}

@keyframes preloader {
  0% {
    transform: translate(-20%, 50%) rotate(0deg);
  }

  100% {
    transform: translate(-20%, 50%) rotate(360deg);
  }
}